* { margin: 0; padding: 0; }
#canvas {
  display: block;
}

* {margin: 0}

body {
  overflow: hidden;
  background: white;
}

.actions{
  position: fixed;
  padding: 20px;
  top: 0;
  left: 16px;
}

.actions svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.2s;
  margin: 0 10px;
}

.actions svg.active {
  fill: red;
  transform: scale(1.2);
}

.colors {
  position: fixed;
  top: 50px;
  left: 0px;
  padding-left: 10px;
  list-style: none;
  background: white;
}

.colors > li {
  margin: 20px 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  transition: all 0.3s;
}

.colors > li.red {
  background: red;
}

.colors > li.black {
  background: black;
}

.colors > li.green {
  background: green;
}

.colors > li.blue {
  background: blue;
}

.colors > li.active {
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
  transform: scale(1.2);
}

.sizes {
  position: fixed;
  right: 0px;
  top: 45px;
  list-style: none;
  background: white;
  padding: 5px;
}

.sizes > .thin {
  height: 6px;
  width: 6px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  margin: 0 10px;
}

.sizes > .thick {
  height: 12px;
  width: 12px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  background: black
}
